<h1 class="logo">ToDo</h1>
<div class="container">
  <div>
    <form class="row justify-content-center">
      <input type="text" class="form-control col-lg-9" aria-describedby="inputGroup-sizing-lg" placeholder="What has to be done?" #TodoAction>
      <button type="button" class="btn btn-primary col-lg-2" (click)="AddItem(TodoAction.value); TodoAction.value=''">Add</button>
    </form>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th>Description</th>
          <th>Done</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getTodoItems()">
          <th><input type="checkbox" [(ngModel)]="item.done"></th>
          <td> {{item.descr}} </td>
          <td [ngSwitch]="item.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchDefault>No</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
